<app-headerankit></app-headerankit>
<section class="page-section pt-5" id="courses">
    <div class="container">
      <div class="row" style="margin-bottom: 5%">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase glow">Courses Available</h2>
          <h3 class="section-subheading">Top 10 Best Trending Software Courses in Demand For Fresher in 2019</h3>
        </div>
      </div>
      
              <!--new-->
              <div class="row text-center">
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <a href="/w3images/lights.jpg">
                        <img src="assets/img/courses/appdevelopment.png" alt="Lights" style="width:100%;" height="200vh">

                            <h4 class="courses-heading">Mobile app development</h4>
                          </a>
                          <div class="caption">
                            <p class="text-muted"> You will be gaining experience to handle multiple app development projects after doing this course.</p>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <a href="/w3images/nature.jpg">
                        <img src="assets/img/courses/webprogramming.jpg" alt="Nature" style="width:100%" height="200vh">

                            <h4 class="courses-heading">Web Programming</h4>
                          </a>
                          <div class="caption">
                            <p class="text-muted"> The course equips students with sources for designing, development, production, assessment of web apps.</p>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      <a href="/w3images/fjords.jpg">
                        <img src="assets/img/courses/ux.jpg" alt="Fjords" style="width:100%" height="200vh">
                            <h4 class="courses-heading">UI/UX Development</h4>
                          </a>
                          <div class="caption">
                            <p class="text-muted"> A UI/UX framework is a team of production-ready CSS, HTML, Bootstrap, JavaScript parts that one can use in their designs.</p>
                        </div>
                    </div>
                  </div>
                </div>
<!------------------------------->
                <div class="row text-center">
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <a href="/w3images/lights.jpg">
                          <img src="assets/img/courses/java.jpg" alt="Lights" style="width:100%" height="200vh">
                          
                              <h4 class="courses-heading">Advanced Java Frameworks</h4>
                            </a>
                            <div class="caption">
                              <p class="text-muted">Advanced Java Frameworks course has been specifically made to render a complete knowledge to those who wish to develop their career as a proficient Java Developer.</p>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <a href="/w3images/nature.jpg">
                          <img src="assets/img/courses/aws.png" alt="Nature" style="width:100%" height="200vh">
                          
                              <h4 class="courses-heading">AWS</h4>
                            </a>
                            <div class="caption">
                              <p class="text-muted">The course has been designed to help the students to get in detail knowledge of Amazon Web Services. It is the most highly demanded technologies in this decade.</p>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <a href="/w3images/fjords.jpg">
                          <img src="assets/img/courses/devops.jpg" alt="Fjords" style="width:100%;" height="200vh">
                          
                              <h4 class="courses-heading">DevOps</h4>
                              </a>
                              <div class="caption">
                              <p class="text-muted"> The course enhance your developmental skills a step ahead of the basics, how to extend Visual Studio, managing issues of multiple variations of applications and assemblies.</p>
                          </div>
                      </div>
                    </div>
                  </div>
                  <!-------->
                  <div class="row text-center">
                      <div class="col-md-4">
                        <div class="thumbnail">
                          <a href="/w3images/lights.jpg">
                            <img src="assets/img/courses/digital.png" alt="Lights" style="width:100%" height="200vh">
                            
                                <h4 class="courses-heading">Digital Marketing</h4>
                                </a>
                            <div class="caption">
                                <p class="text-muted">The course allows you to master equipment and platforms like YouTube, AdWords, Google Analytics, Facebook, and Twitter. You can also work as a freelancer to generate income. </p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="thumbnail">
                          <a href="/w3images/nature.jpg">
                            <img src="assets/img/courses/SQT.jpg" alt="Nature" style="width:100%" height="200vh">
                            
                                <h4 class="courses-heading">SQT Automation</h4>
                                </a>
                                <div class="caption">
                                <p class="text-muted">Software Quality Testing Automated is a procedure in which the programming tools implement pre-scripted tests on an a before taking it further to the production stage.</p>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="thumbnail">
                          <a href="/w3images/fjords.jpg">
                            <img src="assets/img/courses/database.png" alt="Fjords" style="width:100%" height="200vh">
                            <h4 class="courses-heading">Database administration (DBA)</h4>
                          </a>
                            <div class="caption">
                                <p class="text-muted">DBA is the fundamental procedure in the software field of computing. Though facilitated to a large extent, database management system still requires constant human intervention.</p>
                            </div>
                        </div>
                      </div>
                    </div>
    </div>
  </section>
