<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TECH-KNOWLEDGE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" [routerLink]="'/index'">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" [routerLink]="'/course'">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" [routerLink]="'/team'">Team</a>
          </li>
          <li class="dropdown">
              <a class="dropbtn nav-link js-scroll-trigger" >Login</a>
              <div class="dropdown-content">
                <a routerLink="/login">Admin</a>
                <a routerLink="/login">Student</a>
                <a routerLink="/login">Mentor</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- 
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: black">
    <a class="navbar-brand js-scroll-trigger">TECH-KNOWLEDGE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" [routerLink]="'/home'">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" [routerLink]="'/about'">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" [routerLink]="'/courses'">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" [routerLink]="'/team'">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" [routerLink]="'/contact'">Contact</a>
                </li>
                <li class="dropdown">
                    <a class="dropbtn nav-link js-scroll-trigger" >Login</a>
                    <div class="dropdown-content">
                      <a routerLink="/login">Admin</a>
                      <a routerLink="/login">Student</a>
                      <a routerLink="/login">Mentor</a>
                    </div>
                  </li>
              </ul>
        </form>
    </div>
</nav> -->